<div class='bg-wrapAnimae'>
    <div ng-repeat="i in getSnowNumber(snowCount) track by $index" class="c"></div>
</div>

<div class="mainDivView" ng-cloak>
    <div class="container">
        <section>
            <ul id="WorksDisplay">
                <h2>
                    Dashboard Hackathon
                </h2>
                <h3>
                    Responsive Web Application
                </h3>
                <p style="position:relative;"><a data-target="#Works" href="#Works" ng-click="navigateTo('Works')"><i class="fa fa-backward" aria-hidden="true"></i> Back to works</a></p>
                <li>
                    <div class="picWorks img-shadow-1">
                        <img class="img-responsive" src="../Images/DashboardHackathon6.png" />
                    </div>
                </li>
                <li>
                    <div class="picWorks img-shadow-1">
                        <img class="img-responsive" src="../Images/DashboardHackathon1.png" />
                    </div>
                </li>
                <li>
                    <div class="picWorks img-shadow-1">
                        <img class="img-responsive" src="../Images/DashboardHackathon2.png" />
                    </div>
                </li>
                <li>
                    <div class="picWorks img-shadow-1">
                        <img class="img-responsive" src="../Images/DashboardHackathon3.png" />
                    </div>
                </li>
                <li>
                    <div class="picWorks img-shadow-1">
                        <img class="img-responsive" src="../Images/DashboardHackathon4.png" />
                    </div>
                </li>
                <li>
                    <div class="picWorks img-shadow-1">
                        <img class="img-responsive" src="../Images/DashboardHackathon5.png" />
                    </div>
                </li>

            </ul>
        </section>
    </div>
</div>
<!--<div id="openModal" class="modalDialog" ng-show="SpinLoader==true">
    <div id="cssload-loader">
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
        <div class="cssload-dot"></div>
    </div>
</div>-->
<div id="openModal" class="LoaderAnime" ng-show="SpinLoader==true">
    <div>
        <div id="cssload-loader">
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
            <div class="cssload-dot"></div>
        </div>
    </div>

</div>
<div id="switcher">
    <div class="content-switcher">
        <h4>STYLE SETTINGS</h4>
        <p>Choose Your own Style</p>
        <ul>
            <li ng-click="changeTheme('#ff787f','#e0da48','inset 0 0 0 16px rgba(224, 218, 72, 0.44), 0 1px 2px rgba(224, 218, 72, 0.65)',' rgba(224, 218, 72, 0.71)','linear-gradient(to left, #f3f6f7, #e0da48)');">
                <img src="Images/Themee1.png" />
            </li>
            <li ng-click="changeTheme('#0ba5a3','#28d1d8','inset 0 0 0 16px rgba(40, 209, 216,.45), 0 1px 2px rgba(40, 209, 216,.45)','rgba(40, 209, 216, 0.71)','linear-gradient(to left, #f3f6f7, #28d1d8)');">
                <img src="Images/Themee2.png" />
            </li>
            <li ng-click="changeTheme('#fed700','#807d6e','inset 0 0 0 16px rgba(128, 125, 110, 0.71), 0 1px 2px rgba(128, 125, 110, 0.71)','rgba(128, 125, 110, 0.71)','linear-gradient(to left, #f3f6f7, #807d6e)');">
                <img src="Images/Themee3.png" />
            </li>
            <li ng-click="changeTheme('#32abda','#fed4a4','inset 0 0 0 16px rgba(254,212,164,.71), 0 1px 2px rgba(254,212,164,.71)','rgba(254,212,164,.71)','linear-gradient(to left, #f3f6f7, #fed4a4)');">
                <img src="Images/Themee4.png" />
            </li>
            <li ng-click="changeTheme('#f13005','#ffbe74','inset 0 0 0 16px rgba(255,190,116,.71), 0 1px 2px rgba(255,190,116,.71)','rgba(255,190,116,.71)','linear-gradient(to left, #f3f6f7, #ffbe74)');">
                <img src="Images/Themee5.png" />
            </li>
            <li ng-click="changeTheme('#ff5095','#ffc9e0','inset 0 0 0 16px rgba(255,201,224,.71), 0 1px 2px rgba(255,201,224,.71)','rgba(255,201,224,.71)','linear-gradient(to left, #f3f6f7, #ffc9e0)');">
                <img src="Images/Themee6.png" />
            </li>
            <li ng-click="changeTheme('#39d196','#dbb351','inset 0 0 0 16px rgba(219,179,81,.71), 0 1px 2px rgba(219,179,81,.71)','rgba(219,179,81,.71)','linear-gradient(to left, #f3f6f7, #dbb351)');">
                <img src="Images/Themee7.png" />
            </li>
            <li ng-click="changeTheme('#7ef2b1','#ff8f84','inset 0 0 0 16px rgba(255, 143, 132,.71), 0 1px 2px rgba(255, 143, 132,.71)','rgba(255, 143, 132,.71)','linear-gradient(to left, #f3f6f7, #ff8f84)');">
                <img src="Images/Themee8.png" />
            </li>
            <li ng-click="changeTheme('#2d3e50','#1bbc9b','inset 0 0 0 16px rgba(27,188,155,.71), 0 1px 2px rgba(27,188,155,.71)','rgba(27,188,155,.71)','linear-gradient(to left, #f3f6f7, #19bb9b)');">
                <img src="Images/Themee9.png" />
            </li>
            <li ng-click="changeTheme('#ffffff','#000000','inset 0 0 0 16px rgba(0,0,0,.71), 0 1px 2px rgba(0,0,0,.71)','rgba(0,0,0,.71)','linear-gradient(to left, #f3f6f7, #585353)');">
                <img src="Images/Themee10.png" />
            </li>
        </ul>
        <div id="hideSwitcher" ng-click="toggleSwitch();">x</div>
    </div>
</div>
<div id="showSwitcher" ng-click="toggleSwitch();">
    <i class="fa fa-chevron-circle-right"></i>
</div>